.details {
  background-color: aqua;
  font-size: medium;
  margin-left: 5%;
  margin-bottom: 1%;
  padding: 10px;
  width: 25%;
  height: 10%;
  border: 3px solid black;
  border-radius: 3px;
  display: inline-block;
}
.details img {
  width: 50%;
  height: 30%;
  margin-left: 25%;
}
